name: Helm Dry-Run Deployment

# on: [push, pull_request]

on:
  workflow_dispatch:

jobs:
  helm-dry-run:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Install Helm
        uses: azure/setup-helm@v4
        with:
          version: v3.13.3

      - name: Install Kind
        uses: engineerd/setup-kind@v0.5.0

      - name: Create Kind Cluster
        run: kind create cluster --wait 60s

      - name: Helm Dependency Update (if needed)
        run: |
          helm dependency update charts/stock_data_poller || echo "No dependencies"

      - name: Helm Lint
        run: helm lint charts/stock_data_poller

      - name: Helm Dry Run Install
        run: |
          helm install test-release charts/stock_data_poller \
            --dry-run \
            --debug \
            --values charts/stock_data_poller/values.yaml

      - name: Delete Kind Cluster
        if: always()
        run: kind delete cluster
