name: Helm Template & Package Check

# on: [push, pull_request]

on:
  workflow_dispatch:

jobs:
  helm-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Install Helm
        uses: azure/setup-helm@v4
        with:
          version: v3.13.3

      - name: Run Helm Template Validation
        run: helm template charts/stock_data_poller/ --debug

      - name: Package Helm Chart
        run: helm package charts/stock_data_poller/
